html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #333;
	background-color: #ffe156;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */    
	/* font-style: italic; */
}
body {
	height: 100vh;
}

@supports (-webkit-touch-callout: none) {
	body {
		height: -webkit-fill-available;
	}
}
body > div:first-child,
div#__next,
div#__next > div {
	height: 100%;
}
a {
	color: inherit;
	/* text-decoration: none; */
}

* {
	box-sizing: border-box;
}
a,
button {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	color: #333;
}
